# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache
.bloop
/project/.bloop/*
/project/build.properties
/project/metals.sbt
.metals/metals.lock.db
.metals/metals.log
.metals/metals.mv.db
.metals/metals.trace.db
.metals/.reports/metals/*/r_scala-toplevel-mtags_*.md
*.log
.bsp/sbt.json
.metals/.backup_logs/
.metals/.reports/*
.metals/.reports/metals-full/
