@()

@main("MAZE") {

    <h1 class="text-primary" style="font-size:24px;padding-bottom:1.5em;">MAZE</h1>

    <div class="controls">
      <select id='select-generator' >
        <option value=''>Algorithm</option>
        <option value='binarytree'>Binary Tree</option>
        <option value='sidewinder'>Sidewinder</option>
      </select>
      <label for="width">Width: <input type="text" id="width" class="numbers" maxlength="4" value="" /></label>
      <label for="height">Height: <input type="text" id="height" class="numbers" maxlength="4" value="" /></label>
    </div> 

    <form style="padding-top:1.5em;">
        <button id="send-button" type="button" class="btn btn-primary">Send</button>
    </form>

    <div id="maze"></div>
}
